.main {
  padding: 10px 60px 10px 60px;
  background: url("https://s4.postimg.org/610oxozfh/download.jpg");
  background-size: cover;
}

.thumbnail {
  background: rgba(0, 0, 0, 0.1);
}

h1.ad {
  letter-spacing: 1.6rem;
  word-spacing: 2rem;
}

h1 {
  font-size: 50px;
}

h2.ad1 {
  font-family: inherit;
  letter-spacing: 0.1rem;
}

h2 {
  font-size: 22px;
  font-family: Lucida Sans Unicode;
  margin: 0px 0px 40px 0px;
}

.imgsize {
  width: 80px;
  height: 80px;
}

.ft {
  background: black;
}

.last {
  margin: 0 auto;
}

h4 {
  color: white;
  font-family: Roboto,Raleway,Helvetica Neue;
}
